.grey-background {
  background: #f4f4f4;
}

.logo img {
  width: 100px;
}

.main-content {
  padding: 0;
  width: calc(100% - 250px);
  min-height: calc(100vh - 183px);
  padding-right: 0px;
}

.bg-dark{
     background-color: #198754 !important;
}

.banner{
    background-image: url("../img/freshersnow-background-image.jpg");
    background-size: cover;
    background-position: bottom;
}

.navbar .megamenu{ padding: 1rem; }

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }

}	
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media(max-width: 991px){
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
    overflow-y: auto;
      max-height: 90vh;
      margin-top:10px;
  }
}

/* buttons */

.btn-info{
    color: #fff;
    background-color:  #4374b9;
    border-color:  #4374b9;
}

.btn-primary {
  color: #fff;
  background-color: #d1570d;
  border-color: #d1570d;
}
.btn-primary:hover,
.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.text-orange{
  color: orange;
}
.text-grey{
  color: #ccc;
}
/* colleges List */
.colleges-list .college-logo{ width:150px; height:150px;}
.college-item{
background-color: #fff;
}
.college-item .card-footer .btn{
    text-decoration: none;
    color: #222;
}
.college-item .card-footer .btn i{
    background-color: #d1570d; 
    padding: 12px;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
}
.college-item .card-footer .btn:hover{
    color: #198754;
}
.college-item .card-footer .btn:hover i{
     background-color: #198754;
}

.search-sidebar .card .card-header {
    color: #fff !important;
    font-size: 20px;
    font-weight: 300;
    background-color: #d1570d;
}

.advance-search-btn{
    color: #fff !important;
    font-size: 20px;
    font-weight: 300;
    background-color: #d1570d;
}

.checks-height{
    overflow-y: auto;
    max-height: 150px;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem; 
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.college-item .card-header{
font-weight: bold;
}
.college-item .nav-scroller{
    box-shadow:  rgb(0 0 0 / 20%) 1px 1px 4px 1px;
}
.college-item .nav-scroller .nav a{
  color: #666;
    font-weight: 700;
}
.college-item .nav-scroller a.nav-link.active{
  color: #4374b9!important;
  border-bottom: 4px solid;
}
.featureslist .btn{
   font-size: 18px;
  text-decoration: none;
  color : #4374b9;
}

.featureslist .btn .fas{
  font-size: 24px;
}

.banner-caption.carousel-caption { 
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,0.5);
    height: 100%;
}

@media screen and (max-width: 991px) {
 .main-container, .main-content{
display: block !important;
padding: 0px;
  }
.search-sidebar{
 width:  100% !important;
}
.main-content{
  width: 100%; 
}
.search-sidebar{
  display: none !important;
}
.search-sidebar.d-block{
  display: block !important;
  position: fixed;
  width: 100vw;
  height: 100vh;
    left: 0;
    bottom: 0;
    z-index: 8;
    overflow-y: scroll; 
}
.filter-button{
      background: #fff;
    width: 100vw;
    left: 0;
    bottom: 0;
    z-index: 9;
    text-align: center;
}
.featureslist .btn{
  width: 33%;
}
}